{% extends 'public/base_cpanel.html' %}

{% block body %}
<div class="card content_consignaciones custom-card">
  <section id="datosRFID">
    <h2 class="text-center mt-5 mb-5">
      Lista de Accesos RFID
      <hr />
    </h2>

    <div id="rfid_notification" class="text-center mb-3 custom-notification"></div>

    {% if dataLogin.rol == 1 %}
    <div class="text-center mb-4">
      <button id="btnExportarExcel" class="custom-btn">Generar Excel</button>
    </div>
    {% endif %}

    <div class="table-responsive text-nowrap">
      <table class="table table-hover" id="tablaRFID">
        <thead>
          <tr class="table-secondary">
            <th>ID Registro</th>
            <th>ID Usuario</th>
            <th>Fecha Hora Ingreso</th>
            <th>Código RFID</th>
            <th>ID Área</th>
            <th>Usuario</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for acceso_rfid in resp_rfidBD %}
          <tr>
            <td>{{ acceso_rfid.id_registro }}</td>
            <td>{{ acceso_rfid.id_usuario }}</td>
            <td>{{ acceso_rfid.fecha_registro }}</td>
            <td>{{ acceso_rfid.codigo_rfid }}</td>
            <td>{{ acceso_rfid.id_area }}</td>
            <td>{{ acceso_rfid.usuario }}</td>
            <td class="fw-bold text-center" style="color: {{ 'red' if acceso_rfid.estado == 'denegado' else 'green' }}">
              {{ acceso_rfid.estado }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="pagination" class="pagination-container mt-3 text-center"></div>
  </section>
</div>
{% endblock %}

{% block customCSS %}
<style>
  .custom-card {
    border-radius: 0px !important;
  }

  .custom-notification {
    display: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
  }

  .custom-btn {
    background-color: #71dd37;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .custom-btn:hover {
    background-color: #138496;
    transform: scale(1.05);
  }

  .custom-btn:active {
    transform: scale(0.95);
  }
</style>
{% endblock %}
