{% extends 'public/base_cpanel.html' %}

{% block title %}Monte Verde Control Panel 🖥️| Lista de Humo{% endblock %}

{% block body %}
{% if resp_humoBD %}
  <div class="card content_consignaciones" style="border-radius: 0px !important">
    <section id="respuestaFiltroMes">
      <h2 class="text-center mt-5 mb-5">
        Lista de Registros de Humo
        <hr />
      </h2>

      <div class="table-responsive text-nowrap">
        <table class="table table-hover">
          <thead>
            <tr style="background-color: #ddd">
              <th>ID</th>
              <th>Fecha </th>
              <th>Nivel Humo</th>
            </tr>
          </thead>
          <tbody>
            {% for humo in resp_humoBD %}
              <tr>
                <td>{{ humo.id_registro }}</td>
                <td>{{ humo.fechas_registro }}</td>
                <td>{{ humo.nivel_humo }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>
{% else %}
  <div class="container mt-3 mb-3" style="width: 100% !important">
    <div class="row justify-content-md-center mb-2">
      <div class="col-12">
        <h2 class="text-center">No hay registros de humo</h2>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}


