{% extends 'public/base_cpanel.html' %}
<!-- Cambiando el title -->
{% block title %}Reverie Control Panel 🖥️ | Lista de Usuarios{% endblock %}
<!---->
{% block body %}
{% if resp_usuariosBD %}
<div class="card content_consignaciones" style="border-radius: 0px !important">
  <section id="respuestaFiltroMes">
    <h2 class="text-center mt-5 mb-5">
      Lista de RFID
      <hr />
    </h2>

    <p class="btn btn-success" style="margin-left: 10px;">
      <a href="./register-user">
        <span style="color: white;">Nueva Tarjeta</span>
      </a>
    </p>

    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr style="background-color: #ddd">
            <th>ID Registro</th>
            <th>ID Usuario</th>
            <th>Fecha Hora Ingreso</th>
            <th>Estado</th>
            <th>Código RFID</th>
            <th>ID Área</th>
            <th>Nombre Usuario</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in resp_usuariosBD %}
          <tr>
            <td>{{ usuario.id_registro }}</td>
            <td>{{ usuario.id_usuario }}</td>
            <td>{{ usuario.fecha_registro }}</td>
            <td>{{ usuario.estado }}</td>
            <td>{{ usuario.codigo_rfid }}</td>
            <td>{{ usuario.id_area }}</td>
            <td>{{ usuario.nombre_usuario }} {{ usuario.apellido_usuario }}</td>
            <td>
              {% if usuario.id_area == 4 %}
                {{ usuario.id_area }}
              {% endif %}
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% else %}
<div class="container mt-3 mb-3" style="width: 100% !important">
  <div class="row justify-content-md-center mb-2">
    <div class="col-12">
      <h2 class="text-center">No hay Registros</h2>
    </div>
  </div>
</div>
{% endif %}
<!-- Fin del Block -->
{% endblock %}

<!-- Script Custom -->
{% block scripts %}
<!-- Aquí puedes agregar scripts personalizados si es necesario -->
{% endblock %}
