{% extends 'public/base_cpanel.html' %}

{% block title %}Monte Verde Panel 🖥️ | Ubicar Casa{% endblock %}

{% block body %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <div class="col-md-12">
              <h3 class="text-center mt-5 mb-3">UBICAR CASA POR COLOR</h3>
              <hr />
            </div>
          </div>

          <form class="mb-3" action="{{ url_for('color_casaBD') }}" method="POST">
            <!-- Mostrar el número del hogar a personalizar -->
            <div class="mb-3">
              <label for="numero_hogar" class="form-label">Hogar a Personalizar:</label>
              <span class="badge bg-primary">{{ nroHogar }}</span>
              <input type="hidden" name="selectNumeroHogar" value="{{ nroHogar }}"> <!-- Campo oculto con el número del hogar -->
            </div>

            <!-- Lista de colores disponibles para seleccionar -->
            <div class="color-palette">
              {% if coloresDisponibles %}
                {% for color in coloresDisponibles %}
                  <label class="color-option">
                    <input type="radio" name="selectColorCasa" value="{{ color.id_color }}" required>
                    {{ color.color_iluminacion }}
                  </label>
                {% endfor %}
              {% else %}
                <p>No hay colores disponibles.</p>
              {% endif %}
            </div>

            <button class="btn btn-primary w-100">
              Establecer color
              <i class="bi bi-house-door"></i>
            </button>
          </form>

          <div class="text-center">
            <a href="{{ url_for('Control_casa') }}" class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              Volver
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
